
<button class="help" (click)="show()">Show Help</button>
<div class="container" *ngIf="helpon">
    <div class="overlay top" [ngStyle]="{'height.px':top}"></div>
    <div class="overlay bottom" [ngStyle]="{'height.px':bottom}"></div>
    <div class="overlay left" [ngStyle]="{'height.px': height, 'width.px':left, 'top.px':top}"></div>
    <div class="overlay right" [ngStyle]="{'height.px': height, 'width.px': right, 'top.px':top}"></div>
    <div class="helpcontainer" [ngStyle]="{'top.px':top+height, 'left.px':left+20}">
        {{helpcontent}}
        <button [disabled]="seq == helpservice.helpsequence.length-1" (click)="next()">Next</button>
    </div>
</div>
